body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

:root {
  --background: rgba(192, 192, 192, 0.4);
  --grey: #d8d8d8;
  --lightblue: rgba(18, 133, 253, 0.1);
  --blue: #1285fd;
  --blue: #0156af;
  --darkblue: #00438a;
  --white: #ffffff;
  --black: #030303;
  --default-font-size: 18px;
  --semibold: 700;
  --medium: 600;
}

h2 {
  font-size: 50px;
  font-weight: var(--semibold);
  line-height: 65px;
  height: 71px;
  margin: 0px 0px 44px 0px;
}

.figure {
  width: 100%;
  border-radius: 15px;
}

button {
  background-color: var(--blue);
  color: var(--white);
  box-sizing: border-box;
  border-radius: 15px;
  border-width: 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
  font-size: var(--default-font-size);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: var(--darkblue);
}

p {
  font-size: var(--default-font-size);
  line-height: 32px;
  margin: 0px;
}

a {
  font-size: 20px;
  font-weight: 400;
  color: initial;
  text-decoration: initial;
}

a:hover {
  background-color: var(--grey);
}

hr {
  height: 2px;
  border-width: 0;
  color: var(--grey);
  background-color: var(--grey);
  margin: 0px;
}

.section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  max-width: 1296px;
}

#menu {
  height: 38px;
  margin-top: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  min-width: 230px;
  height: 100%;
}

#logo:hover {
  background-color: unset;
}

.menu {
  height: 100%;
  width: 100%;
  margin-right: 26px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-item {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.languages {
  height: 100%;
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flag {
  width: 43px;
  height: 29px;
}

#about {
  margin-top: 32px;
}

#left {
  max-width: 701px;
  margin-top: 129px;
  justify-content: flex-start;
}

#right {
  width: 624px;
  margin-right: -38px;
  position: relative;
}

#motto1 {
  height: 64px;
  width: 400px;
  background-color: var(--lightblue);
  color: var(--blue);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}

#motto2 {
  width: 100%;
  font-size: 48px;
  font-weight: bold;
  line-height: 65px;
  margin-top: 23px;
}

#motto3 {
  width: 683px;
  width: 700px;
  margin-top: 29px;
}

.highlighted {
  color: var(--blue);
}

#main-btns {
  justify-content: flex-start;
  margin-top: 33.58px;
}

.main-btn {
  height: 71.84px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-img {
  width: 31.93px;
  height: 31.93px;
  margin-left: 5px;
}

#specialist-btn {
  background-color: var(--white);
  color: var(--blue);
  border: 3px solid var(--blue);
  margin-left: 16px;
}

#specialist-btn:hover {
  background-color: var(--grey);
}

#home {
  margin-top: 32px;
}

#home-img {
  width: 586px;
  min-height: 663px;
  position: relative;
  top: 0;
  left: 0;
}

#rectangle {
  width: 538.64px;
  min-height: 538.64px;
  background-color: var(--blue);
  border-radius: 30px;
  position: absolute;
  bottom: -38px;
  right: 0px;
  opacity: 0.15;
}

#app-btns {
  position: absolute;
  left: 0px;
  bottom: -38px;
}

.card-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.card-row + div.card-row {
  margin-top: 30px;
}

.card {
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 15px;
}



.category-card-large {
  max-width: 419px;
  min-width: 300px;
  height: 329px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.category-card-small {
  width: 416px;
  min-width: 300px;
  height: 91px;
  padding: 0px;
  padding-left: 19px;
  display: flex;
  align-items: center;
}

.category-card-small + .category-card-small {
  margin-top: 14px;
}

.category-img {
  max-height: 266px;
  width: 100%;
}

.category-img-small {
  height: 48px;
  width: 48px;
}



.category-text {
  height: 100%;
  margin-left: 21px; 
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: var(--semibold);
}

.category-text-small {
  height: 100%;
  margin-left: 18px; 
  display: flex;
  align-items: center;
  font-size: 19px;
  font-weight: var(--medium);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




.review-card {
  max-width: 636px;
  min-width: 300px;
  min-height: 266px;
  padding: 28px 29px 28px 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-img {
  height: 96px;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}

.review {
  display: flex;
  flex-direction: column;
  max-width: 446px;
  margin-left: 39px;
}

div.review-card + div.review-card {
  margin-left: 24px;
}

#add-review-btn {
  height: 100%;
}

#reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviewer-name {
  margin-top: 10px;
}

.arrow-btn{
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: calc(50% - 27.5px);
  padding: 0px;
}

.arrow-img {
  width: 32.21px;
  height: 32.21px;
}

#review-row {
  position: relative;
  left: 0px;
  top: 0px;
}

#right-btn {
  right: -70px;
}

#left-btn {
  left: -70px;
}















.how-it-works-card {
  max-width: 416px;
  min-width: 416px;
  min-height: 320px;
  padding: 26px 22px 21px 26px;
}

div.how-it-works-card + div.how-it-works-card {
  margin-left: 24px;
}

.how-it-works-img {
  background-color: var(--blue);
  height: 89px;
  width: 89px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-it-works-title {
  font-size: 28px;
  font-weight: var(--semibold);
  margin-top: 42px;
  height: 22px;
}

.how-it-works-text {
  margin-top: 22px;
}


.footer {
  background-color: var(--white);
  margin: -8px;
  margin-top: 116px;
}

#footer-top {
  box-sizing: border-box;
  min-height: 142px;
  padding-top: 30px;
}

.footer-text {
  font-size: 19px;
  font-weight: var(--medium);
  line-height: 32px;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
}

#footer-bottom {
  min-height: 70px;
  align-items: center;
}

.footer-column {
  justify-content: flex-start;
}

.app-buttons {
  width: 423px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-button {
  box-sizing: border-box;
  border-radius: 15px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-subsection {
  margin-top: 0px;
}





